body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0d1b2a; 
    font-family: 'Arial', sans-serif;
    color: #fff;
    overflow: hidden;
    /* ეს წაშლის Three.js რენდერის ტიპიურ ჩარჩოებს */
}

#interaction-panel {
    position: absolute; /* პანელი ეკრანზე მუდმივად რომ დარჩეს */
    bottom: 15px;
    width: 80%;
    max-width: 900px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #73b3c3;
    border-radius: 5px;
    text-align: center;
    z-index: 10; /* რენდერზე მაღლა რომ იყოს */
}

#interaction-text {
    margin: 0;
    font-size: 1.1em;
    color: #a8dadc;
}